.layout {
  width: 100%;
}

header {
  display: flex;
  height: 65px;
  background-color: #2980b9;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.5);
}

h1 {
  color: white;
text-shadow: 2px 2px 0px #525252, 5px 4px 0px rgba(0,0,0,0.15);
  font-size: 1.1rem;
}

.nav {
  margin-top: 10px;
  float: right;
}

.nav a {
  display: inline-block;
  color: white;
  margin-left: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.content {
  color: white;
  font-size: calc(2vmin);
}

.active {
  border-bottom: 3px solid white;
}
